//header

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1000;


  &__logo {
    padding: 20px;
    padding-bottom: 0;
    width: 200px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;


    &--collapse {
      width: 80px;
      padding: 10px;
      transition: all 0.2s;
      padding: 10px;
      padding-bottom: 0;
    }
  }


  &__nav {
    display: flex;
    justify-content: space-between;
    flex: 1;

    &-left {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    &-right {
      display: flex;
      margin-right: 30px;

      &-notify {
        margin-right: 20px;
      }

      &-img{
        margin-right: 20px;
      }
    }
  }

  &__collapse {
    margin-left: 10px;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  &__search {
    margin-left: 10px;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }
  }



}

//end Header

//sider
.sider {
  position: fixed !important;
  top: 64px; // bằng chiều cao header
  left: 0;
  bottom: 0;
  height: calc(100vh - 64px);
  z-index: 999;
}

//end sider

// content
.content {
  margin-top: 60px;
  margin-left: 200px;
  padding-top: 64px;
  padding: 24px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: margin-left 0.2s;
}

.content--collapse {
  margin-top: 60px;
  margin-left: 80px;
  padding-top: 64px;
  padding: 24px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: margin-left 0.2s;
}

// End content


.footer {
  text-align: center;
  background-color: #f0f2f5;
  padding: 10px 0;
  font-size: 14px;
  color: #666;
}


//responsive
@media (max-width:550px) {
  .header__search{
    display: none;
  }
}